#footer {
    /* border: 2px solid red; */
    /* background: linear-gradient(160deg, white, #004e923e, var(--theme-pri)) no-repeat fixed center center; */
    width: 100vw;
    padding: 5% 7%;
    display: flex;
    flex-direction: column;
}

#footerLinks {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

#footerLinks li img {
    height: 30px;
}

#footerLinks li img:hover {
    transform: scale(1.1);
}

#footerUp {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* border: 2px solid red; */
}

#footerURight {
    /* border: 2px solid red; */
    display: flex;
    gap: 100px;
}

#footerURight li {
    margin-top: 10px;
    /* color: white; */
}

#footerURight li:hover {
    text-decoration: underline;
}