#homepage {
    /* border: 2px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* padding-top: var(--nav-height); */
}

/*------------------------------------ hero section */

#herosec>*,
#herosec>*>* {
    /* border: 2px solid blue; */
}

#herosec {
    /* border: 2px solid blue; */
    width: 95vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#heroLeft {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    font-size: x-large;
    width: 630px;
    -webkit-box-reflect: below 60px linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.1));
}

#hero-cta {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

#heroRight {
    display: flex;
    justify-content: center;
    align-items: center;
    translate: -50px;
}

#heroRight>img {
    -webkit-box-reflect: below -60px linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.1));
}


/* ----------------------------------------------------- Whyus sec */
#whyusSec {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#whyusNums {
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0px;
}

.numCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 0px 20px var(--theme-pri-shadow);
    border-radius: 5px;
    width: 300px;
    height: 200px;
    background: url("../../img/customerSatsfaction.png") repeat fixed center center;
}

.numCards:hover {
    /* transform: scale(1.1); */
}

.numCards span {
    font-size: 50px;
    /* color: var(--theme-pri); */
    color: aqua;
}

.numCards p {
    color: white;
    text-align: center;
}

#whyusText {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 5%;
}

#whyushead {
    font-style: italic;
}

#whyusText>img {
    -webkit-box-reflect: below -50px linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.1));
}

#whyusList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0 10px;
}

#whyusList li {
    display: flex;
    gap: 10px;
    width: 40vw;
}

#whyusList li img {
    height: 20px;
}

/* ----------------------------------------------------- Partners sec */
@keyframes scroll {
    0% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(calc(-100px * 10));
    }

    100% {
        transform: translateX(calc(50px));
    }
}

.slider {
    height: 300px;
    max-width: 100vw;
    margin: 50px auto;
    width: auto;
    overflow: hidden;
    position: relative;
}

.slider h1 {
    margin: 50px 0;
    text-align: center;
    width: 100vw;
}

.slider .partnerslider {
    animation: scroll 50s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.partnerslider {
    gap: 200px;
    margin: 50px 0;
}

.slider .slide {
    height: 100px;
    width: auto;
}

.slide {
    -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.1));
}

/* ----------------------------------------------------- Feedback sec */

#feedback {
    /* border: 2px solid red; */
    width: 90vw;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px 0 10px;
}

#feedback>div:nth-child(1) {
    /* border: 2px solid black; */
    height: 300px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-shadow: -20px 0 13px -10px rgba(192, 192, 192, 0.373);
}

#feedback>div>h1 {
    font-style: italic;
    text-align: left;
}

.swiper {
    width: 600px;
    height: 300px;
}

.swiper-wrapper {
    /* border: 2px solid red; */

}

#reviewcard {
    /* border: 2px solid red; */
    height: 300px;
    width: 600px;
    padding: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* box-shadow: 0 0 10px silver; */
}

#reviewcard img {
    height: 50px;
}

#reviewLeft>h1 {
    font-size: medium;
}

#reviewLeft>p {
    color: silver;
    font-size: small;
}

#reviewRight {
    display: flex;
    gap: 5px;
}

#reviewRight img {
    height: 20px;
}

#reviewRight img:nth-child(1) {
    margin-bottom: auto;
}

#reviewRight img:nth-child(3) {
    margin-top: auto;
    transform: rotate(180deg);
}


/*--------------------------------------------- Responsiveness */
@media screen and (max-width : 1100px) {

    /*------------------------------------ hero section */
    #herosec {
        width: max-content;
    }

    #heroLeft {
        width: 450px;
        margin-left: 60px;
    }

    #heroLeft h1 {
        font-size: 30px;
    }

    #heroRight {
        translate: -70px;
    }

    #heroRight>img {
        width: 350px;
    }


    /* ----------------------------------------------------- Whyus sec */
    #whyusSec {
        gap: 30px;
    }

    #whyusNums {
        gap: 50px;
    }

    .numCards {
        gap: 20px;
        width: 200px;
        height: 150px;
    }

    .numCards span {
        font-size: 30px;
    }

    .numCards p {
        font-size: 15px;
    }

    #whyusText {
        gap: 30px;
    }

    #whyusText>img {
        width: 300px;
    }

    #whyushead {
        font-size: 25px;
    }

    #whyusList {
        gap: 30px;
    }

    #whyusList li {
        gap: 5px;
    }

    #whyusList li p {
        font-size: 13px;
    }

    /* ----------------------------------------------------- Feedback sec */

    #feedback {
        gap: 10px;
        margin: 50px 100px;
    }

    #feedback>div:nth-child(1) {
        height: 300px;
        padding: 0 20px;
    }

    .swiper {
        width: 500px;
        height: 300px;
    }

    #reviewcard {
        height: 300px;
        width: 500px;
        padding: 10px 20px;
        gap: 10px;
    }

    #reviewcard img {
        height: 40px;
    }

    #reviewLeft>h1 {
        font-size: small;
    }

    #reviewLeft>p,
    #reviewRight>p {
        font-size: smaller;
    }

    #reviewRight img {
        height: 15px;
    }
}


@media screen and (max-width : 600px) {

    /*------------------------------------ hero section */
    #herosec {
        width: max-content;
        flex-direction: column-reverse;
        gap: 50px;
    }
    
    #heroLeft {
        width: 90vw;
        margin-left: 0px;
        padding: 20px;
        align-items: center;
        -webkit-box-reflect: initial;
    }
    
    #heroLeft h1 {
        font-size: 20px;
        text-align: center;
    }

    #heroLeft p {
        font-size: 13px;
        text-align: center;
    }

    #heroRight {
        translate: -5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #heroRight>img {
        width: 350px;
    }


    /* ----------------------------------------------------- Whyus sec */
    #whyusSec {
        gap: 100px;
    }

    #whyusNums {
        flex-direction: column;
    }

    .numCards {
        gap: 10px;
        width: 80vw;
        height: 150px;
    }

    .numCards span {
        font-size: 30px;
    }

    .numCards p {
        font-size: 15px;
    }

    #whyusText {
        padding: 0;
        /* border: 2px solid red; */
        width: 100vw;
        gap: 30px;
        flex-direction: column;
    }

    #whyusText>img {
        width: 300px;
    }

    #whyusText>div {
        width: 100vw;
        text-align: center;
    }

    #whyushead {
        font-size: 25px;
        font-style: normal;
    }

    #whyusList li {
        gap: 5px;
        margin: auto;
        width: 80vw;
    }

    /* ----------------------------------------------------- Feedback sec */

    #feedback {
        gap: 0px;
        margin: 50px 0;
        flex-direction: column;
    }

    #feedback>div:nth-child(1) {
        box-shadow: none;
        text-align: center;
        height: 100px;
    }

    #feedback>div>h1 {
        box-shadow: none;
        text-align: center;
        font-style: normal;
    }

    .swiper {
        width: 400px;
        height: 250px;
    }

    #reviewcard {
        height: fit-content;
        width: 400px;
        padding: 10px 20px;
        gap: 10px;
    }

    #reviewcard img {
        height: 40px;
    }

    /* ----------------------------------------------------- Partners sec */
    .slider {
        margin: 0px auto;
        height: 250px;
    }

    .partnerslider {
        gap: 100px;
    }

    .slider .slide {
        height: 50px;
    }

}

