@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&family=Raleway&family=Roboto&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --theme-pri: #004E92;
  --theme-pri-shadow: #004e9257;
  --theme-sec: #FF6B00;
  --theme-ter: #00743F;
  --theme-bg: #F8F8F8;
  --theme-text: #333333;

  --nav-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .05rem;

  transition: all .2s ease;
  scroll-behavior: smooth;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  color: var(--theme-pri);
}

.subheading {
  font-family: 'Open Sans', sans-serif;
}

.bodytext {
  font-family: 'Roboto', sans-serif;
  color: var(--theme-text);
}

.btn,
.btn2:hover {
  color: var(--theme-pri);
  font-weight: bold;
  background: transparent;
  border: 2px solid var(--theme-pri);
  border-radius: 5px;
  padding: 10px 30px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
}

.btn2,
.btn:hover {
  color: white;
  font-weight: bold;
  background: var(--theme-pri);
  border: 2px solid var(--theme-pri);
  border-radius: 5px;
  padding: 10px 30px;
  letter-spacing: .1rem;
  font-family: 'Raleway', sans-serif;
}

body {
  background: var(--theme-bg);
}

.list li {
  list-style: none;
}

.inp {
  height: 40px;
  width: max-content;
  padding: 0 10px;
}




@media screen and (max-width : 1100px) {
  .heading {
    font-size: 25px;
  }

  .btn,
  .btn2:hover {
    padding: 8px 20px;
  }
  
  .btn2,
  .btn:hover {
    padding: 8px 20px;
  }
}

@media screen and (max-width : 1100px) {
  .heading {
    font-size: 20px;
  }
}